[submodule "vicious"]
	path = vicious
	url = https://github.com/vicious-widgets/vicious
[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain
[submodule "calendar"]
	path = calendar
	url = https://github.com/deficient/calendar
